<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="Techway - Software Development & Business Services Multipurpose Responsive Website Template">
  <meta content="" name="ZRTHEMES">

  <!-- Favicons -->
  <link href="static/assets/images/favicon.png" rel="icon">
  <link href="static/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/stylesheets/font-awesome.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Main CSS File -->
  <link href="static/assets/stylesheets/styles.css" rel="stylesheet">


</head>

<body>

  <div id="preloader">
    <img src="static/assets/images/icons/loader.svg" alt="loader">
  </div>

  <header id="header" class="header d-flex align-items-center">
    <div class="container container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <h1>Network<span>IDS</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          
          
          
        </ul>
      </nav><!-- .navbar -->
      <a href="/logon" class="btn-get-started">Register</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header>
  <!-- End Header -->

  <!-- Hero Section -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-lg-1 d-flex flex-column align-items-start justify-content-center text-left caption">
          <h2 data-aos="fade-left" data-aos-delay="100">Welcome to <br><span class="circle">Dashboard.</span></h2>
          
          <p data-aos="fade-left" data-aos-delay="1000">A Novel Two-Stage Deep Learning Model for Network Intrusion Detection: LSTM-AE</p>
          
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
    <!-- About Us Section -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About</h2>
        
        </div>

        <div class="row gy-4">
          <div class="col-lg-6 position-relative">
            <img src="static/assets/images/app-1.jpg" class="img-fluid rounded-4 mb-4" alt="">
            <div class="img-overlay-right aos-init aos-animate" data-aos="fade-up" data-aos-delay="500"><h3><span>N</span>IDS </h3></div>
          </div>
          <div class="col-lg-6 ps-lg-5">
            <div class="content ps-0" data-aos="fade-right">
              <p>
                Machine learning and deep learning techniques are widely used to evaluate intrusion detection systems (IDS) capable of rapidly and automatically recognizing and classifying cyber-attacks on networks and hosts.
              </p>

              <p>
                The CICIDS2017 and CSE-CICDIS2018 datasets are used to determine the optimum network parameters for the proposed LSTM-AE. The experimental results show that the proposed hybrid model works well and is applicable for detecting attacks in modern scenarios.
              </p>
              
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->



  </main><!-- End #main -->

  <!-- Footer -->
  <footer id="footer" class="footer-section">
    <div class="container">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#" class="logo d-flex align-items-center">
                              <h1>NIDS<span>.</span></h1>
                            </a>
                        </div>
                        
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fa fa-google google-bg"></i></a>
                        </div>
                    </div>
                     
                </div>
                
                
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-left text-lg-left">
                    <div class="copyright-text">
                        <p>Techway © 2023 - Designed by Zr Themes.</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="static/assets/javascripts/jquery.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/javascripts/plugins.js"></script>
  <script src="static/assets/javascripts/validator.min.js"></script>
  <script src="static/assets/javascripts/contactform.js"></script><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ_mGhah8EApmFiXYYBsdBuygviP2M2EE"></script>
  <script src="static/assets/javascripts/map.js"></script>
  <script src="static/assets/javascripts/purecounter_vanilla.js"></script>
  <script src="static/assets/javascripts/gmap3.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/javascripts/main.js"></script>

</body>

</html>